@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table table-bordered">
                <tr>
                    <td>#</td>
                    <td>Ad</td>
                    <td>Soyad</td>
                    <td>Rol Detayları</td>
                </tr>

                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td><a href="/Role/AssignRole/@item.Id" class="btn btn-primary">Rol Ata</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


